body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #9cd9ea;
    margin: 0;
    flex-direction: column;
}

h1 {
    color: #333;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #ff0080 ;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: rgb(168, 13, 122) ;
}

p {
    margin-top: 20px;
    font-size: 20px;
    color: #555;
}
