@import url('https://fonts.googleapis.com/css2?family=Playwrite+CO:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+CO:wght@100..400&family=Quicksand:wght@300..700&display=swap');

body {
  background-color: #2e3b4e; 
  color: #fff;
  font-family: "Shadows Into Light", 
}

.container {
  background-color: #3e4e5e;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1, h2 {
  font-family: "Playwrite CO", cursive;
  font-optical-sizing: auto;
  font-style: normal;
  text-align: center;
  margin: 15px;
}

input, .btn, .list-group-item, .form-label {
  font-family: "Quicksand", sans-serif;
}

.list-group-item {
  background-color: #4e5d6e;
  color: white;
  border: 1px solid #596a7b;
}

.overdue { 
  background-color: red;
  color: white; 
}

.resolved { 
  background-color: green;
  color: white; 
}

.pending { 
  background-color: white;
  color: black; 
}

.no-tasks { 
  color: gray; 
  font-style: italic; 
}

.resolve-btn, .unresolve-btn, .delete-btn, #showAllBtn, #showOverdueBtn, #showResolvedBtn {
  border: none;
  margin-right: 5px;
  font-family: "Shadows Into Light", cursive;
}

.resolve-btn {
  background-color: #28a745;
  color: white;
}

.resolve-btn:hover {
  background-color: #218838;
}

.unresolve-btn {
  background-color: #ffc107; /* Color amarillo */
  color: white;
}

.unresolve-btn:hover {
  background-color: #e0a800; /* Color amarillo más oscuro */
}

.delete-btn {
  background-color: #dc3545;
  color: white;
}

.delete-btn:hover {
  background-color: #c82333;
}

#showAllBtn {
  background-color: #007bff;
  color: white;
}

#showAllBtn:hover {
  background-color: #0056b3;
}

#showOverdueBtn {
  background-color: #dc3545;
  color: white;
}

#showOverdueBtn:hover {
  background-color: #c82333;
}

#showResolvedBtn {
  background-color: #28a745;
  color: white;
}

#showResolvedBtn:hover {
  background-color: #218838;
}

.alert-danger {
  background-color: #ff061a;
  border-color: #ff0019;
  color: whitesmoke;
}

form {
  background-color: #4e5d6e;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-top: 20px;
}

.form-label {
  color: #ffffff;
}

.form-control {
  background-color: #5f7082;
  border: 1px solid #6a7d90;
  color: #ffffff;
}

.form-control::placeholder {
  color: #b0c4d0;
}

.form-control:focus {
  background-color: #687b8e;
  color: #ffffff;
  border-color: #8a9db0;
}

.btn-primary {
  background-color: #007bff;
  border: none;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.btn-secondary {
  background-color: #6c757d;
  border: none;
}

.btn-secondary:hover {
  background-color: #565e64;
}
